<section class="footer py-5 mt-5" style="margin-top: 20rem !important;">
    <div class="container-fluid" style="margin: -12px 0px 0px 9px;">
        <div class="row" style="margin-top: 0 !important;">
            <div class="col-lg-6 col-md-6">
               <address><i class="bi bi-buildings"></i>
                 <span class="orgaddress">
                  : the NFT-based Land Record - Blockchain system
                 </span>
               </address>
               <h5>Contact us :</h5>
               <p style="margin-left: 15px;"><span style="font-size: 15px;"><i class="bi bi-telephone-fill"></i></span> +91 :&nbsp;&nbsp;8762378211</p>
               <p style="margin-left: 15px;"><span style="font-size: 18px;"><i class="bi bi-envelope-at-fill"></i></span>&nbsp;&nbsp;landchain123@gmail.com</p>
            </div>
            <div class="col-lg-6 col-md-6">
               <div class="socialmediacontents">
                 <h4>Social Media</h4>
                 <p class="line"></p>
                 <div class="socialmediaicons">
                    <i class="bi bi-instagram"></i>
                    <i class="bi bi-github"></i>
                    <i class="bi bi-linkedin"></i>
                 </div>
               </div>
            </div>
        </div>
    </div>
</section>