<%layout('./layouts/boilerplate')%>
<style>
    body{
        overflow-x: hidden;
    }
</style>
<body>
    <div class="row mt-3" style="overflow: hidden !important;">
        <h2 class="col-6 offset-1 mb-4">Land Registration Details:</h2>
        <div class="col-6 offset-3">
            <form action="/gotownerdetails" method="POST"  class="needs-validation" novalidate style="overflow: hidden !important;">
            <div class="mb-3">
                <label for="unitid" class="form-label">Unit Id</label>
                <input type="number" name="unitid" placeholder="enter Unit Id" class="form-control" id="unitid" required>
                <div class="invalid-feedback">
                    Enter a valid Id
                </div>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Unit Area</label>
                <input type="number" name="unitarea" placeholder="enter Area (in sqft)" class="form-control" id="password" required>
                <div class="invalid-feedback">
                    Enter a valid Area
                </div>
            </div>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Land Address</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="landaddress"></textarea>
                <div class="invalid-feedback">
                    Enter a valid Address
                </div>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Land Price</label>
                <input type="number" name="landprice" placeholder="enter price" class="form-control" id="password" required>
                <div class="invalid-feedback">
                    Enter a valid price
                </div>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Property Id</label>
                <input type="number" name="propertyid" placeholder="enter property id" class="form-control" id="password" required>
                <div class="invalid-feedback">
                    Enter a valid Property Id
                </div>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Document No.</label>
                <input type="text" name="documentno" placeholder="enter Documnet no." class="form-control" id="password" required>
                <div class="invalid-feedback">
                    Enter a valid Document No
                </div>
            </div>
            
              <button class="btn btn-dark">Register</button>
            
            </form>
        </div>
        <p>jhvasvjbhwjbv jkb <br>hjjsbf</p>
</body>